
/* Calendar */
.calendarBox {
    display: grid;
    grid-template-rows: 
    1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .week {
    display: grid;
    grid-template-columns: 
    repeat(7, 1fr);
    grid-auto-flow: dense; 
    grid-gap: 2px 10px;
  }
  
  .day {
    display:flex;
     grid-row-start: 1;
    background-color: #DDD; /* if display contents, this won't color */
    justify-content: center;
    grid-template-rows: 
    1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .day-label {
    grid-row-start: 5;
    grid-column-start: 1;
    margin: 2rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  .week-day, .day-label, .event {
    padding: 4px 10px;
  }
  
  
  