@media only screen and (min-width: 1080px) {
  .calendarBox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: dense;
    grid-gap: 0.125rem 0.625rem;
  }
  .day {
    display: flex;
    grid-row-start: 1;
    background-color: #DDD;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .day-label {
    grid-row-start: 5;
    grid-column-start: 1;
    margin: 2rem;
  }
  .week-day, .day-label, .event {
    padding: 0.25rem 0.625rem;
  }
  .heading {
    font-size: 6rem;
  }
  h3 {
    font-size: 3rem;
  }
  .button-plus {
    left: 16rem;
    bottom: 2rem;
  }
}