* {
    list-style: none; 
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    margin: 0; 
    padding: 0; 
    height: 100vh;
    width: 100%;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.cursor-pointer {
    cursor: pointer;
  }
main {
    background: black;
}

/* HEADER */
header {
    background-color: black;
    color: white; 
    width: 100%;
    height: 4rem;
}
h1 {
    font-size: 2rem; 
}
.leftAndRightSideBox {
  margin: auto;
  background: white;
  height: 100vh;
  width: 100%;
  border-radius: 10px;
  border: 1px solid grey;
  overflow: hidden;
}

/* LEFT SIDE*/
.left-side {
    width: 35%;
    background: #7c60af;
    float: left;
    padding: 30px;
    height: 100%;
  }  
#dateBox {
    height: 10rem;
    background: #443561;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#dateBox h3, h2 {
  color: #ffffff;
  margin: 0.3rem;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 500;
}

.listOfCardBoxes {
    width: 100%;
    flex-direction: column;
}
.todoCardBox {
    border-bottom: solid black 0.5px;
    height: 4rem; 
    width: 100%;
    justify-content: center;
    align-items: center;
}
.todoCardBox p {
    align-self: center;
}
.addBtn {
    background-color: lightgrey; 
    border-style: solid 1px;
    border-color: black;
    color: black; 
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    /*font-weight: 100; */
    position: absolute; 
    right: 2rem; 
    bottom: 2rem; 
}


/* RIGHT SIDE*/
.right-side {
    max-width: 65%;
    float: right;
    padding: 10px;
    margin: auto;
  }
  main {
    /* max-width: max-content; */
    margin: 0 auto 0 auto;
    background-color: #fff;
  }
  .month-indicator {
    margin-top: 10px;
    color: black;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
  .month-of-year {
    font-size: 0.1em;
    color: black;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
  }
  .month-of-year {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 10px;
  }
  .day-of-week,
  .date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .day-of-week {
    margin-top: 10px;
    /* border-bottom: 1px solid black; */
  }
  .day-of-week > * {
    font-size: 1em;
    color: black;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
  }
  .date-grid {
    margin-top: 0.5em;
  }
  /* Which cell as the months first day starts */
  .date-grid div:first-child {
    grid-column: 7;
  }
  .date-grid div {
    position: relative;
    border: 1px solid grey;
    margin: 1px;
    width: 90px;
    height: 65px;
    background-color: transparent;
    color: black;
  }
  .date-grid div:hover,
  .date-grid div:focus {
    /* outline: none; */
    background-color: rgb(156, 198, 253);
    color: black;
  }
  .date-grid div:active,
  .date-grid div.is-selected {
    background-color: #703fca;
    color: #703fca;
  }
  .calendar-days li:after {
    content: attr(data-day);
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #959595;
  }
  .calendar-days li.another-month:after {
    color: #ccc;
  }
  .calendar-days li:hover:after,
  .calendar-days li.selected-day:after,
  .calendar-days li.todo-day:before,
  .calendar-days li.active-day:after {
    border-radius: 50%;
  }
  .calendar-days li:hover:after,
  .calendar-days li.selected-day:after {
    background: #ccc;
    color: white;
  }
  .calendar-days li.todo-day:before {
    content: " ";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    right: 7px;
    background: #1400c7;
  }
  .calendar-days li.active-day:after {
    color: white;
    background: #6f2da8;
  }







.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
