* {
    list-style: none; 
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    margin: 0; 
    padding: 0; 
    height: 100vh;
    width: 100%;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.cursor-pointer {
    cursor: pointer;
  }
main {
    background: black;
}

/* HEADER */
header {
    background-color: black;
    color: white; 
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: 4rem;
}
h1 {
    font-size: 2rem; 
}
.leftAndRightSideBox {
  margin: auto;
  background: white;
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  max-height: 800px;
  /* border-radius: 20px; */
  border: 1px solid black;
  overflow: hidden;
}

/* LEFT SIDE*/
.leftSide {
    width: 100%;
    background: #7c60af;
    float: left;
    padding: 30px;
    height: 100%;
  }  
#dateBox {
    height: 10rem;
    background: #443561;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#dateBox h3, h2 {
  color: #ffffff;
  margin: 0.3rem;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 500;
}

.listOfCardBoxes {
    width: 100%;
    flex-direction: column;
}
.todoCardBox {
    border-bottom: solid black 0.5px;
    height: 4rem; 
    width: 100%;
    justify-content: center;
    align-items: center;
}
.todoCardBox p {
    align-self: center;
}
.addBtn {
    background-color: lightgrey; 
    border-style: solid 1px;
    border-color: black;
    color: black; 
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    /*font-weight: 100; */
    position: relative; 
    right: 2rem; 
    bottom: 2rem; 
}


/* RIGHT SIDE*/
.rightSide {
    display: none;
}






.flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
