/* Smaller tablets */
@media screen and (min-width: 769px) {
    header {
        height: 8rem;
    }
    h1 {
        font-size: 3rem;
    }
    /* LEFT SIDE*/
    .leftSide {
        width: 35%;
        max-width: 25rem;
    }
    #dateBox  {
        height: 20%; 
    }
    /* .todoCardBox {
        border-bottom: solid black 0.5px;
        height: 80%;
    } */

    /* RIGHT SIDE*/
    .rightSide {
        display: block;
        width: 65%;
        float: right;
        padding-top: 1.5625rem;
        margin: auto;
    }
    main {
        max-width: max-content;
        background-color: #fff;
        margin: auto;
    }
    .current-year {
        margin-top: 0.625rem;
        color: black;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
    }
    .month-of-year {
        font-size: 0.7rem;
        color: black;
        font-weight: 300;
        letter-spacing: 0.1rem;
        font-variant: small-caps;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 0.625rem;
    }
    .day-of-week {
        margin-top: 0.625rem;
        border-bottom: 1px solid black;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .day-of-week>* {
        font-size: 1rem;
        color: black;
        font-weight: 500;
        letter-spacing: 0.1rem;
        text-align: center;
    }
    .date-grid {
        margin-top: 0.5rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    /* First day of month starts */
    .date-grid div:first-child {
        grid-column: 7;
    }
    .date-grid div {
        position: relative;
        border: 1px solid grey;
        margin: 1px;
        width: 5.75rem;
        height: 5rem;
        background-color: transparent;
        color: black;
    }
    .date-grid div:hover, .date-grid div:focus {
        /* outline: none; */
        background-color: #4A906D;
        color: black;
    }
    .date-grid div:active, .date-grid div.is-selected {
        background-color: #4A906D;
        color: #4A906D;
    }
    .calendar-days li:after {
        content: attr(data-day);
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        color: #959595;
    }
    .calendar-days li.another-month:after {
        color: #ccc;
    }
    .calendar-days li:hover:after, .calendar-days li.selected-day:after, .calendar-days li.todo-day:before, .calendar-days li.active-day:after {
        border-radius: 50%;
    }
    .calendar-days li:hover:after, .calendar-days li.selected-day:after {
        background: #ccc;
        color: white;
    }
    .calendar-days li.todo-day:before {
        content: " ";
        width: 0.3125rem;
        height: 0.3125rem;
        position: absolute;
        top: 0.4375rem;
        right: 0.4375rem;
        background: #443561;
    }
    .calendar-days li.active-day:after {
        color: white;
        background: #4A906D;
    }
}

/*  Larger tablets */
@media screen and (min-width: 1366px) {
    .current-year {
        margin-top: 0.625rem;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 0.1em;
    }
    .month-of-year {
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 0.1em;
        margin-top: 0.9375rem;
    }
    .day-of-week {
        margin-top: 0.625rem;
    }
    .day-of-week>* {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.08rem;
    }
    .date-grid div {
        width: 7.5rem;
        height: 6.875rem;
    }
}